<%- include ('partials/_header') %>

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="car-body">
                    <form action="/update/<%= data.id %>" method="post">
                        <div class="form-group">
                            <input type="text" name="cedula" placeholder="Cedula" value="<%= data.cedula %>" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="nombres" placeholder="Nombres" value="<%= data.nombres %>" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="apellidos" placeholder="Apellidos" value="<%= data.apellidos %>" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="correo" placeholder="Correo" value="<%= data.correo %>" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="ciudad" placeholder="Ciudad" value="<%= data.ciudad %>" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">
                         Guardar 
                        </button>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>

<%- include ('partials/_footer') %>